---
layout: footerless
---

{{ content }}

<footer id="footer">
	<div class="container-fluid mw-lg">
		<div class="d-flex">
			<div>
				<ul>
					<li><i class="icon-left fas fa-copyright fa-fw"></i> 2020 – CM5 FOREVER</li>
					<li>Nous utilisons des cookies à des fins statistiques.</li>
				</ul>
			</div>
			<div class="text-right">
				<ul>
					<li><a href="{{ site.github.repository_url }}">Dépot open-source</a> <i class="icon-right fab fa-github fa-fw"></i></li>
					<li>Propulsé par <b>GitHub Pages</b> <i class="icon-right fas fa-fire-alt fa-fw"></i></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
